db/
incremental_db/
output_files/
simulation/
*.qpf
*.qsf
*.qws
*.ddb
*.rpt
*.txt
*.bak
*.dcp
*.veo
*.xml
greybox_tmp/
ADS9_FPGA_source/IP/**/*.v
ADS9_FPGA_source/IP/**/*.xdc
ADS9_FPGA_source/IP/**/*.vhdl
ADS9_FPGA_source/IP/**/*.vh
hdl/
Fx3_GPIF_FPGA/

